@import java.time.LocalDateTime
@(teamForm : Form[Team])
@import helper._
@import helpers.SchoolYear

@implicitField = @{ FieldConstructor(formFieldTemplate.f) }

@main("Create Team"){
    <h1>Create Team</h1>

    @form(CSRF(routes.TeamController.save())) {

        @*Division*@
        <div class="input-field col s12">
            <select name="division">
                <option value="" disabled selected>Select Division</option>
                <option value="Jr.">Junior</option>
                <option value="Sr.">Senior</option>
                <option value="Varsity">Varsity</option>
            </select>

            <label>Division</label>
        </div>

        @*Gender*@
        <div class="input-field col s12">
            <select name="gender">
                <option value="" disabled selected>Please Select</option>
                <option value="Boys" @if(teamForm("gender").value == "Boys") { selected }>Male</option>
                <option value="Girls">Female</option>
                <option value="Co-Ed">Co-Ed</option>
            </select>
            <label>Gender</label>
        </div>

        @*Sport*@
        @inputText(teamForm("sport"), 'class -> "validate")

        @*Default Points*@
        @inputText(teamForm("defaultPoints"), 'class -> "validate")

        @*School Year*@
        @inputText(teamForm("schoolYear"), 'class -> "validate")

        @*Season*@
        <div class="input-field col s12">
            <select name="season">
                <option value="" disabled selected>Please Select</option>
                <option value="Fall">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring">Spring</option>
            </select>
            <label>Season</label>
        </div>

        <button class="waves-effect waves-light green btn" type="submit" name="action">
            <i class="material-icons left">add</i>
            Save
        </button>
    }

    @SchoolYear.formatSchoolYear(teamForm("schoolYear").value)
}