@(sportForm : Form[Sport])

@import helper._

@implicitField = @{ FieldConstructor(formFieldTemplate.f) }

@main("Create Sport"){
    <h1>Edit</h1>

    @form(CSRF(routes.SportsController.update()), 'id -> "sport-update-form") {
        @inputText(sportForm("name"), 'class -> "validate")
        @inputText(sportForm("pointValue"), 'class -> "validate")

        <input type="hidden" name="id" value='@sportForm.get().id'>
    }

    <button id="update"
            class="waves-effect waves-light blue btn"
            data-form-id="sport-update-form"
            data-r-url="@routes.SportsController.index()">
        <i class="material-icons left">update</i>
        Update
    </button>

    <a class="waves-effect waves-light btn" href="@routes.SportsController.index()">Cancel</a>

    <button id="delete"
            data-url="@helper.CSRF(routes.SportsController.destroy(sportForm.get().id))"
            data-r-url="@routes.SportsController.index()"
            class="waves-effect waves-light btn red right">
        <i class="material-icons left">delete</i>
        Delete
    </button>
}
